In [3]:
import pandas as pd

In [18]:
family = pd.DataFrame([
    ['Paul','E','Boal',193,110,'314-598-5494',pd.NA],
    ['Teddy','J','Lester-Boal',101,23,'314-555-1234',25.2],
    ['John','P','Doe',160,100,'490-982-5555',pd.NA]],
    columns=['First','Middle','Last','Height','Weight','Phone','BMI'])

In [19]:
family

   First Middle         Last  Height  Weight         Phone   BMI
0   Paul      E         Boal     193     110  314-598-5494  <NA>
1  Teddy      J  Lester-Boal     101      23  314-555-1234  25.2
2   John      P          Doe     160     100  490-982-5555  <NA>

In [ ]:
family['Full'] = family.First + ' ' + family.Middle + '. ' + family.Last

In [ ]:
family

In [ ]:
family['Name'] = family.Last + ', ' + family.First + ' ' + family.Middle + '.'

In [ ]:
family

In [ ]:
family.sort_values('Name')

# Splitting

In [ ]:
family['Area Code'] = family.Phone.str.split('-')

In [ ]:
family

In [ ]:
family.Phone.str.split('-',expand=True)

In [ ]:
family['Area'] = family.Phone.str.split('-',expand=True)[0]

In [ ]:
family['Exchange'] = family.Phone.str.split('-',expand=True)[1]

In [ ]:
family

# Rank / Percentile

In [ ]:
family.Height.rank()

In [ ]:
family['Height Rank'] = family.Height.rank()

In [ ]:
family

In [ ]:
family['Height Pct'] = family.Height.rank(pct=True)

In [ ]:
family

In [ ]:
family.sort_values('Height Rank')

# Arbitrary Functions

In [2]:
def bmi(x):
    """Series -> float
    
    vals is a Pandas Series with two elements, Height and Weight
    """
    height = x['Height']
    weight = x['Weight']
    return weight / (height/100)**2

In [6]:
family[['Height','Weight']].apply(bmi, axis=1)

0    29.530994
1    22.546809
2    39.062500
dtype: float64

In [11]:
family['BMI'] = family[['Height','Weight']].apply(bmi, axis=1)

In [20]:
family['BMI'].fillna(family[['Height','Weight']].apply(bmi, axis=1), inplace=True)

In [21]:
family

   First Middle         Last  Height  Weight         Phone        BMI
0   Paul      E         Boal     193     110  314-598-5494  29.530994
1  Teddy      J  Lester-Boal     101      23  314-555-1234  25.200000
2   John      P          Doe     160     100  490-982-5555  39.062500

In [22]:
family['BMI'].rank()

0    2.0
1    1.0
2    3.0
Name: BMI, dtype: float64

In [ ]:
family

In [25]:
def bmi(height, weight):
    """float, float -> float
    """
    return weight / (height/100)**2

In [26]:
family.apply(lambda vals: bmi(vals['Height'], vals['Weight']), axis=1)

0    29.530994
1    22.546809
2    39.062500
dtype: float64