# PandaSQL

In [1]:
import pandas as pd
import pandasql as ps

In [2]:
data = pd.read_csv('/data/complications.csv')

In [ ]:
data.head()

In [9]:
sql = """
select city, count(distinct [provider_id]) as providers
from data 
group by city
order by providers desc
"""

In [10]:
cities = ps.sqldf(sql, locals())

In [11]:
cities

              city  providers
0       BIRMINGHAM          4
1         ANNISTON          2
2           DOTHAN          2
3          GADSDEN          2
4           MOBILE          2
5       MONTGOMERY          2
6        ALABASTER          1
7   ALEXANDER CITY          1
8        ANDALUSIA          1
9          ASHLAND          1
10          ATHENS          1
11            BOAZ          1
12         BREWTON          1
13          CAMDEN          1
14          CENTRE          1
15     CENTREVILLE          1
16         CULLMAN          1
17       DADEVILLE          1
18         DECATUR          1
19      ENTERPRISE          1
20         EUFAULA          1
21           EUTAW          1
22        FAIRHOPE          1
23         FAYETTE          1
24        FLORENCE          1
25           FOLEY          1
26      FORT PAYNE          1
27          GENEVA          1
28      GREENSBORO          1
29      GROVE HILL          1
30        HAMILTON          1
31      HUNTSVILLE          1
32          JASPER          1
33         LUVERNE          1
34         MOULTON          1
35         OPELIKA          1
36             OPP          1
37           OZARK          1
38      SCOTTSBORO          1
39       SHEFFIELD          1
40       TALLADEGA          1
41       TALLASSEE          1
42      TUSCALOOSA          1
43        WETUMPKA          1
44        WINFIELD          1

In [ ]:
data[data['county_name']=='JEFFERSON'].groupby(['city','provider_id']).count().groupby(['city'])['hospital_name'].count()